html {
    height: 100%;
}

body {
    color: #95c121;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    padding-bottom:40px;   /* Height of the footer, see "footer" */
}
a {
    color: black;
}

a:hover {
    color: black;
}

p {
    font-size: 1.25em;
}

.btn-success {
    background-color: #95c121;
}

.header {
    margin: auto;
    max-width: 600px;
}

.lien {
    margin-top: 15px;
    cursor: pointer;
}

.incrust {
    display: none;
}

#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 400px;
}

.carte {
    position: relative;
    margin: auto;
    max-width: 600px;
    clear: right;
    margin-bottom: 15px;
}

#retour {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    font-size: large;
    font-weight: bold;
    border: 2px solid rgb(204, 204, 204);
}

#expand {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    border: 2px solid rgb(204, 204, 204);
}

.success{
    display: none;
    clear: right;
}

.entree {
    margin: auto;
    max-width: 250px;
}

#jaide {
    margin-left: 15px;
}

#savoirplus {
    margin-right: 15px;
}

#foot {
    margin: auto;
    max-width: 600px;
    background: #95c121;
}

#foot a {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer, see "body" */
}

@media all and (max-width: 576px) {
    .carte {
        margin-right: -15px ;
        margin-left: -15px ;
    }
    h4 {
        font-size: 1.25em;
    }
    p {
        font-size: 1em;
    }
    #jaide {
        margin-left: unset;
        margin-top: 10px;
    }
    #savoirplus {
        margin-right: unset;
        margin-top: 10px;
    }
}
