{% load leaflet_tags %}
{% load l10n %}

<head>
    <style>
        .leaflet-container {  /* all maps */
            width:  1000px;
            height: 700px;
        }
    </style>
    <title>Point</title>
    {% leaflet_css %}
    {% leaflet_js %}
</head>

<body>
    {% localize off %}
    <script type="text/javascript">
        function map_init_basic (map, options) {

            {% for post in object_list %}
                {% if post.coord.wkt  != "POINT EMPTY" %}
                    L.marker([{{ post.coord.y }}, {{ post.coord.x }}])
                        .addTo(map)
                        .bindPopup("{{ post.tel }}")
                        .bindTooltip("{{ post.tel }}");
                {% endif %}
            {% endfor %}
        }
    </script>
    {%  endlocalize %}
    <h1>Localisation des posts</h1>

{% leaflet_map "yourmap" callback="window.map_init_basic" %}</body>