{% load static leaflet_tags l10n %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Tous concernés par le climat">

    <title>Tous climat</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    {% leaflet_css %}
    {% leaflet_js %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/solid.js" integrity="sha384-+2/MEhV42Ne5nONkjLVCZFGh5IaEQmfXyvGlsibBiATelTFbVGoLB1sqhczi0hlf" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/fontawesome.js" integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa" crossorigin="anonymous"></script>

    <script type="text/javascript">

        let coord_x = 0;
        let coord_y = 0;
        // Pour garder une référence de la map créée à l'init
        let map;
        L.Map.addInitHook(function () {
            map = this;
        });

        function resizemap() {
            $('#map').height($(window).height() - 350);
            if ($(window).height() < 700) {
                map.setZoom(5);
            }
            map.invalidateSize();
        }

        // Fonction d'initialisation de la carte
        function map_init (map, options) {

            resizemap();

            const greenIcon = L.icon({
                iconUrl: '../../static/img/marker-icon-green-v2.png',
                shadowUrl: '../../static/img/marker-shadow.png' ,

                iconSize:     [25, 41], // size of the icon
                shadowSize:   [41, 41], // size of the shadow
                iconAnchor:   [12, 40], // point of the icon which will correspond to marker's location
                shadowAnchor: [10, 40], // the same for the shadow
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });

            {% for post in object_list %}
                {% if post.coord.wkt  != "POINT EMPTY" %}
                    L.marker([{{ post.coord.y }} + (0.002 * (Math.random() - 0.5)),
                        {{ post.coord.x }} + (0.002 * (Math.random() - 0.5))],
                        {icon: greenIcon, zIndexOffset: 10}).addTo(map);
                {% endif %}
            {% endfor %}
        }
        function vote(){

            const redIcon = L.icon({
                iconUrl: '../../static/img/marker-icon-red.png',
                shadowUrl: '../../static/img/marker-shadow.png' ,

                iconSize:     [25, 41], // size of the icon
                shadowSize:   [41, 41], // size of the shadow
                iconAnchor:   [12, 40], // point of the icon which will correspond to marker's location
                shadowAnchor: [10, 40], // the same for the shadow
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });

            if (navigator.geolocation){
                navigator.geolocation.getCurrentPosition((function (position) {
                    // On ne veut pas de coords exacts -> ajout aléatoire
                    coord_x = position.coords.longitude;
                    coord_y = position.coords.latitude;
                    L.marker([coord_y, coord_x], {icon: redIcon, zIndexOffset: 1000}).addTo(map)
                        .bindPopup('Prêt ? Confirmer ci-dessous...').openPopup();
                    map.flyTo(L.latLng(parseFloat(coord_y), parseFloat(coord_x)), 13);
                    $('.vote').removeClass("d-flex").addClass("d-none");
                    $('.success').html('<p>Pour valider votre engagement, veuillez entrer votre numéro de téléphone </p>').show();
                    demandenumero('add');
                }));
            }
            else {
                alert("La géolocalisation n'est pas supportée par ce navigateur.");
            }
        }
        function demandenumero(tache) {
            $('.success').append('<div class="entree input-group mt-3">\n' +
                '  <input type="tel" class="form-control" id="tel_input" placeholder="numéro de téléphone"\n' +
                '  <div class="input-group-append">\n' +
                '    <button class="btn btn-success" type="button" id="tel_ok">OK</button>\n' +
                '  </div>\n' +
                '</div>');
            if (tache !== 'add') {
                $('.success div button').attr('id', 'tel_del');
            }
        }
        function controle_numero(tel) {
            if (tel.length !== 10) return '';
            if (tel[0] !== '0') return '';
            return tel;
        }
        function informer() {
            window.location.replace(window.location.origin);
            window.open("https://ctc-42.org/application-tous-climat.html");
        }

        $(document).ready(function () {

            window.addEventListener('resize', resizemap, false);

            $('#desinscrire').click(function () {
                $('.success').html('<p>Veuillez entrer votre numéro de téléphone pour effectuer votre désincription.</p>').show();
                $('.carte').hide();
                $('.vote').removeClass("d-flex").addClass("d-none");
                demandenumero();
            });

            $('body').on('click', '#expand', function () {
                $('.header').hide();
                $('footer').hide();
                $('#expand').hide();
                $('.vote').removeClass("d-flex").addClass("d-none");
                $('body').append('<button type="button" class="btn btn-light" id="retour">X</button>');
                $('.carte').css('max-width', 'unset');
                $('#map').height($(window).height());
                map.invalidateSize();
            });
            $('body').on('click', '#retour', function() {
                window.location.reload();
            });
            $('body').on('click', '#tel_ok', function() {
                let tel_number = $('#tel_input').val();
                tel_number = controle_numero(tel_number);
                if (tel_number !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'add'%}',
                        headers: { "X-CSRFToken": '{{csrf_token}}' },
                        data: { 'tel': tel_number, coord_x: coord_x, coord_y: coord_y},
                        success: function() {
                            $('.success').html('<p>Vous êtes bien enregistré.</p>');
                            let url = "?suite";
                            setTimeout(function () {window.location.assign(url);}, 2000);
                        },
                        error: function (jqXHR, textStatus, errorThrow) {
                            alert('Erreur ! ' + "\n\n" + errorThrow);
                        }
                    });
                } else {
                    alert ('numéro non conforme\nformat 10 chiffres : 0.........')
                }
            });
            $('body').on('click', '#tel_del', function() {
                let tel_number = $('#tel_input').val();
                tel_number = controle_numero(tel_number);
                if (tel_number !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'delete'%}',
                        headers: { "X-CSRFToken": '{{csrf_token}}' },
                        data: { 'tel': tel_number},
                        success: function() {
                            $('.success').html('<p>Vous êtes bien désinscrit.</p>');
                            setTimeout(function () {window.location.reload();}, 2000);
                        },
                        error: function (jqXHR, textStatus, errorThrow) {
                            alert('Erreur ! ' + "\n\n" + errorThrow);
                        }
                    });
                } else {
                    alert ('numéro non conforme\nformat 10 chiffres : 0.........')
                }
            });
            $('.nombre').click(function () {
                $('.incrust').show();
                setTimeout(function () {$('.incrust').hide();}, 2000);

            })
            if (window.location.search == '?suite') {
                $('.vote button').replaceWith('<button type="button" class="btn btn-success order-sm-1 order-0 id="votes" onclick="informer()"">Restez informé(e)</button>')
            }
        });
    </script>
</head>

<body>
    <div class="container-fluid">

        <div class="header">
            <img class="img-fluid lien" alt='Logo Tous Climat' src="{% static 'img/Tous-climat_logo_site.png' %}" onclick="window.location.assign(window.location.origin)">
            <span class="nombre">&nbsp;&nbsp;&nbsp;</span>
            <div class="incrust float-left"> {{ object_list.count }} engagés</div>
        </div>

        <div class="carte">
            {% leaflet_map "map" callback="window.map_init" %}
            <button type="button" class="btn btn-light" id="expand"><i class="fas fa-expand-arrows-alt"></i></button>
        </div>

        <div class="vote d-flex flex-sm-row flex-column justify-content-center pt-3">
            <a class="btn btn-outline-secondary order-sm-0 order-2" href="https://ctc-42.org/application-tous-climat.html"
               id="savoirplus" target="_blank">En savoir plus ...</a>
            <button type="button" class="btn btn-success order-sm-1 order-0" id='votes' onclick="vote()">
                Moi aussi&nbsp;&nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>
            </button>
            <a class="btn btn-outline-secondary order-sm-2 order-1" href="https://www.helloasso.com/associations/loire-en-transition/formulaires/2"
               id="jaide" target="_blank">J'aide le projet</a>
        </div>

        <div class="success text-center"></div>

        <div id="rgpd_modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">RGPD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Rgpd rpgd rpgd rpgd rpgd.</p>
              </div>
            </div>
          </div>
        </div>

    </div>
</body>

<footer>
    <div class="container-fluid" id="foot">
        <div class="d-flex justify-content-around">
            <a href="#" id="desinscrire">Se désinscrire</a>
            <a href="#" id="rpgd" data-toggle="modal" data-target="#rgpd_modal">Politique de confidentialité</a>
        </div>
    </div>
</footer>

</html>